<!-- Get 5 last posted/updated categories -->

{% assign MAX_SIZE = 50 %}

{% assign all_list = '' | split: '' %}

{% assign all_list = '' | split: '' %}

{% assign sorted_categories = site.categories | sort %}

{% for category in sorted_categories %}
  {% assign category_name = category | first %}
  {% assign posts_in_category = category | last %}
  
  {% assign latest_post = posts_in_category | first %}
  {% assign latest_datetime = latest_post.last_modified_at | default: latest_post.date %}

  {% capture elem %}
    {{- latest_datetime | date: "%Y%m%d%H%M%S" -}}::{{- category_name -}}
  {% endcapture %}

  {% assign all_list = all_list | push: elem %}
{% endfor %}

{% assign update_list = '' | split: '' %}

{% for entry in all_list limit: MAX_SIZE %}
  {% assign update_list = update_list | push: entry %}
{% endfor %}

{% if update_list.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">CATEGORIES</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for item in update_list %}
        {% assign category_name = item | split: '::' | last %}
        {% capture category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
        <li class="text-truncate lh-lg">
          <a href="{{ category_url | relative_url }}">{{ category_name }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <!-- #access-lastmod -->
{% endif %}
